@import "../Gemini/index.styl";


/*--- 去除affix效果 ---*/
.affix.affix.affix { position: static; }
.sidebar-inner {
  &.affix {
    position: static;
  }

  &.affix-bottom {
    position: static;
  }
}
