@import "../Gemini/index.styl";


$geminiex_link_normal   = #0593d3
$geminiex_link_active   = #0477ab
$geminiex_sidebar_item_margin_top = 10px;


/*--- 去除affix效果 ---*/
.affix.affix.affix { position: static; }
.sidebar-inner {
  &.affix {
    position: static;
  }

  &.affix-bottom {
    position: static;
  }
}

/*--- 链接样式 ---*/
.post-body
  a{
    color: $geminiex_link_normal;
    border-bottom: none;
    &:hover {
      color: $geminiex_link_normal;
      text-decoration: underline;
    }
  }

.post-meta
  a{
    color: $geminiex_link_normal;
    border-bottom: none;
    &:hover {
      color: $geminiex_link_normal;
      text-decoration: underline;
    }
  }


/*--- sidebar in category ---*/
.sidebar-category{

  margin-top: $geminiex_sidebar_item_margin_top;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;

  .sidebar-category-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .sidebar-category-list-item{
    display: block;
    margin: 0 10px;
    list-style: none;
  }
  .sidebar-category-list-link{
    /* display: block; */
    display: inline-block;
    font-size: 13px;
    line-height: inherit;
    border-bottom: 1px solid $menu-link-border;
    transition-property: border-color;
    the-transition();

    &:hover { border-bottom-color: $menu-link-hover-border; }
  }
  .sidebar-category-list-count{
    display: inline-block;
    padding: 2px 5px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    /* vertical-align: middle; */
    background-color: $grey-light;
    border-radius: 10px;
    /* float: right; */
    margin: 0.35em 0.9em 0 0;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.1);
  }
}

/*--- 首页文章样式 ---*/
.post_in_home {
  margin-bottom: 10px;
}

/*--- read more button ---*/
.post-button {
  a.btn {
    color: $btn-default-color;
    background: $btn-default-bg;
    border: $btn-default-border-width solid $btn-default-border-color;

    &:hover {
      border-color: $btn-default-hover-border-color;
      color: $btn-default-hover-color;
      background: $btn-default-hover-bg;
    }
  }
}

/*--- 标题样式 ---*/
.posts-expand .post-title {
  font-size: 2rem;
}
.post-body {

  font-size: 1.0rem;

  h1 {
    margin: 1.6rem 0;
    font-size: 1.6rem;
    border-bottom: 1px solid $body-bg-color;

    // border-bottom: 3px solid #00a3cf;
    // padding: 5px 0 5px 10px;
  }
  h2 {
    font-size: 1.45rem;
    margin: 1.45rem 0;
    border-bottom: 1px solid $body-bg-color;

    // border-left: 3px solid #00a566;
    // padding: 0 0 0 10px;
    // margin-left: 10px;
  }
  h3 {
    font-size: 1.3rem;
    if use_seo {
      border-bottom: 1px solid $body-bg-color;
    } else {
      border-bottom: 1px dotted $body-bg-color;
    }
  }
  h4 {
    font-size: 1.2rem;
    if use_seo {
      border-bottom: 1px dotted $body-bg-color;
    }
  }
  h5 {
    font-size: 1.07rem;
  }
  h6 {
    font-size: 1.03rem;
  }
}


